body{
    background-color: yellow;
    text-align: center;
}
h1{
    border-style: ridge;
    background-color: violet;
}
img{
    width: 600px;
    height: 400px;
    border-radius: 90px;
}
p{
    font-family: 'Sevillana', cursive;
    font-size: 30px;
    font-weight: bold;
    background-color: aquamarine;
    border-style: dotted;
    color: blueviolet;
}